<div class="sessions-new-wrapper">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">ログイン</h4>
    </div>
    <div class="panel-body table-responsive">
      <%= form_with scope: :session, url: sessions_path, local: true, class: "form-horizontal" do |f| %>
        <div class="form-group">
          <%= f.label :email, "メールアドレス", class: "control-label col-sm-3" %>
          <div class="col-sm-7">
            <%= f.email_field :email, class: "form-control col-sm-7", placeholder: "メールアドレス", required: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, "パスワード", class: "control-label col-sm-3" %>
          <div class="col-sm-7">
            <%= f.password_field :password, class: "form-control col-sm-7", placeholder: "パスワード", required: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "ログイン", class: "btn btn-default col-xs-offset-4 col-xs-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>