<div class="clips-index-wrqpper">
  <div class="container">
    <% @clip_posts.each do |post| %>
      <div>
        <%= link_to post_path(id: post.id) do %>
          <%= image_tag post.image.post_image1.url(:thumb150) %>
          <%= @purposes.find_by(id: post.purpose_id).name %>
          <%= post.happened_at.strftime("%Y年%m月%d日") %>
          <%= @prefectures.find_by(id: post.prefecture_id).name + City.find_by(id: post.city_id).name %>
          <%= @pet_categories.find_by(id: post.pet_category_id).name %>
          <%= @pet_sexes.find_by(id: post.pet_sex_id).name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>