
    <table class="table">
      <tbady>
        <tr>
          <th>
            ユーザー名
          </th>
          <td>
            <%= @user.name %>
          </td>
        </tr>
        <tr>
          <th>
            メールアドレス
          </th>
          <td>
            <%= @user.email %>
          </td>
        </tr>
        <tr>
          <th>
            パスワード
          </th>
          <td>
            非表示
          </td>
        </tr>
      </tbady>
    </table>
    <%= link_to "編集", edit_user_path(id: current_user.id), class: "fas fa-user-edit" %>
    <%= link_to "削除", user_path, method: :delete, class: "fas fa-user-slash" %>
    <div class="row">
        <% @posts.each do |post| %>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <%= link_to post_path(id: post.id) do %>
              <div class="panel panel-info center-block thumbnail border">
                <%= image_tag post.image.post_image1.url(:thumb200), class: "panel-img-top img-rounded" %>
                <div class="panel-heading">
                  <h4 class="panel-title"><%= @purposes.find_by(id: post.purpose_id).name %></h4>
                </div>
                <div class="panel-body">
                  <p class="panel-text"><%= post.pet_name unless post.pet_name.blank? %></p>
                  <p class="panel-text"><%= post.happened_at.strftime("%Y年%m月%d日") %></p>
                  <p class="panel-text"><%= @prefectures.find_by(id: post.prefecture_id).name + @cities.find_by(id: post.city_id).name %></p>
                  <p class="panel-text"><%= @pet_categories.find_by(id: post.pet_category_id).name %></p>
                  <p class="panel-text"><%= @pet_sexes.find_by(id: post.pet_sex_id).name %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
    <%= paginate @posts %>