<div class="users-show-wrapper">
  <div class="user-info row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="panel">
        <div class="panel-heading">
          <h1 class="panel-title text-center">ユーザー情報</h1>
        </div>
        <div class="panel-body table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>ユーザー名</th>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th>パスワード</th>
                <td>＊＊＊＊＊</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="user-info-links">
        <%= link_to edit_user_path(id: current_user.id), class: "btn col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4" do %>
          <div class="fas fa-user-edit"> 編集</div>
        <% end %>
        <%= link_to user_path, method: :delete, class: "btn col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4", data: { confirm: "本当に退会しますか？" } do %>
          <div class="fas fa-user-slash"> 退会</div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-posts">
    <div class="page-header">
      <h2 class="text-center">投稿一覧</h2>
    </div>
    <div class="row">
      <% @posts.each do |post| %>
        <% if post.purpose_id == 1 %>
          <% panel_class = "danger" %>
        <% elsif post.purpose_id == 2 %>
          <% panel_class = "success" %>
        <% elsif post.purpose_id == 3 %>
          <% panel_class = "info" %>
        <% end %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= link_to post_path(id: post.id), class: "panel panel-#{panel_class} thumbnail" do %>
            <%= image_tag post.image.post_image1.url(:thumb200), class: "img-responsive img-rounded" %>
            <div class="panel-heading">
              <h1 class="panel-title text-center"><%= post.purpose.name %></h1>
            </div>
            <div class="panel-body table-responsive">
              <p class="panel-text">名前：<%= post.pet_name unless post.pet_name.blank? %></p>
              <p class="panel-text">日付：<%= post.happened_at.strftime("%Y年%m月%d日") %></p>
              <p class="panel-text">場所：<%= post.prefecture.name + post.city.name %></p>
              <p class="panel-text">種類：<%= post.pet_category.name %></p>
              <p class="panel-text">品種：<%= post.pet_breed unless post.pet_breed.blank? %></p>
              <p class="panel-text">性別：<%= post.pet_sex.name %></p>
              <p class="panel-text"><span class="far fa-comment-dots"></span>メッセージ：<%= post.messages.count %>件</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="paginate">
    <%= paginate @posts %>
  </div>
</div>