<div class="posts-index-wrapper">
  <div class="container">
    <div class="search-form">
      <p>検索</p>
      <%= form_with url: posts_path, local: true, method: :get do |f| %>
        <%= f.label :purpose_id, "投稿の種類" %>
        <%= f.collection_radio_buttons :purpose_id, @purposes, :id, :name, { class: "form-check-input", checked: params[:purpose_id] } %>
        <br>
        <%= f.label :prefecture_id, "都道府県" %>
        <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { prompt: "選択してください" }, { class: "form-control" } %>
        <br>
        <%= f.label :city_id, "市区町村" %>
        <%= f.select :city_id, options_for_select(@cities.map { |c|[c[:name], c[:id], { "data-id" => c[:prefecture_id] }] }), { prompt: "選択してください" }, { class: "form-control", id: :city_id } %>
        <br>
        <%= f.label :pet_category_id, "カテゴリー" %>
        <%= f.collection_select :pet_category_id, @pet_categories, :id, :name, { prompt: "選択してください", selected: params[:pet_category_id] }, { class: "form-control" } %>
        <br>
        <%= f.label :pet_breed, "品種" %>
        <%= f.text_field :pet_breed, class:"form-control", value: params[:pet_breed] %>
        <br>
        <%= f.label :pet_sex_id, "性別" %>
        <%= f.collection_radio_buttons :pet_sex_id, @pet_sexes, :id, :name, { class: "form-check-input", checked: params[:pet_sex_id] } %>
        <br>
        <%= f.submit "検索" %> <%= link_to "リセット", posts_path %>
      <% end %>
    </div>
    <% @posts.each do |post| %>
      <div>
        <%= link_to post_path(id: post.id) do %>
          <%= image_tag post.image.post_image1.url(:thumb200) %>
          <%= @purposes.find_by(id: post.purpose_id).name %>
          <%= post.pet_name unless post.pet_name.blank? %>
          <%= post.happened_at.strftime("%Y年%m月%d日") %>
          <%= @prefectures.find_by(id: post.prefecture_id).name + @cities.find_by(id: post.city_id).name %>
          <%= @pet_categories.find_by(id: post.pet_category_id).name %>
          <%= @pet_sexes.find_by(id: post.pet_sex_id).name %>
        <% end %>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>