<div class="posts-index-wrapper">
  <div class="search-form row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="panel">
        <div class="panel-heading">
          <h1 class="panel-title text-center">絞り込み検索</h1>
        </div>
        <div class="panel-body table-responsive">
          <%= form_with url: posts_path, local: true, method: :get, class: "form-horizontal" do |f| %>
            <div class="form-group">
              <%= f.label :purpose_id, "投稿の種類", class: "control-label col-xs-3" %>
              <div class="col-xs-7">
                <%= f.collection_radio_buttons :purpose_id, @purposes, :id, :name, { checked: params[:purpose_id] } do |b| %>
                  <%= b.radio_button + b.label(class: "radio_button-label") %>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :prefecture_id, "都道府県", class: "control-label col-xs-3" %>
              <div class="col-xs-7">
                <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { prompt: "選択してください" }, { class: "form-control" } %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :city_id, "市区町村", class: "control-label col-xs-3" %>
              <div class="col-xs-7">
                <%= f.select :city_id, options_for_select(@cities.map { |c|[c[:name], c[:id], { "data-id" => c[:prefecture_id] }] }), { prompt: "選択してください" }, { class: "form-control", id: :city_id } %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :pet_category_id, "ペットの種類", class: "control-label col-xs-3" %>
              <div class="col-xs-7">
                <%= f.collection_select :pet_category_id, @pet_categories, :id, :name, { prompt: "選択してください", selected: params[:pet_category_id] }, { class: "form-control" } %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :pet_sex_id, "性別", class: "control-label col-xs-3" %>
              <div class="col-xs-7">
                <%= f.collection_radio_buttons :pet_sex_id, @pet_sexes, :id, :name, { class: "form-check-input", checked: params[:pet_sex_id] } do |b| %>
                  <%= b.radio_button + b.label(class: "radio_button-label") %>
                <% end %>
              </div>
            </div>
            <div class="form-group search-button">
              <%= f.submit "検索", class: "btn col-xs-offset-4 col-xs-4 col-sm-offset-3 col-sm-3" %>
              <%= link_to "リセット", posts_path, class: "btn col-xs-offset-4 col-xs-4 col-sm-offset-0 col-sm-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="post-index">
    <div class="page-header">
      <h2 class="text-center">投稿一覧</h2>
    </div>
    <div class="row">
      <% @posts.each do |post| %>
        <% if post.purpose_id == 1 %>
          <% panel_class = "danger" %>
        <% elsif post.purpose_id == 2 %>
          <% panel_class = "success" %>
        <% elsif post.purpose_id == 3 %>
          <% panel_class = "info" %>
        <% end %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= link_to post_path(id: post.id), class: "panel panel-#{panel_class} thumbnail" do %>
            <%= image_tag post.image.post_image1.url(:thumb200), class: "img-responsive img-rounded" %>
            <div class="panel-heading">
              <h1 class="panel-title text-center"><%= post.purpose.name %></h1>
            </div>
            <div class="panel-body table-responsive">
              <p class="panel-text">名前：<%= post.pet_name unless post.pet_name.blank? %></p>
              <p class="panel-text">日付：<%= post.happened_at.strftime("%Y年%m月%d日") %></p>
              <p class="panel-text">場所：<%= post.prefecture.name + post.city.name %></p>
              <p class="panel-text">種類：<%= post.pet_category.name %></p>
              <p class="panel-text">品種：<%= post.pet_breed unless post.pet_breed.blank? %></p>
              <p class="panel-text">性別：<%= post.pet_sex.name %></p>
              <p class="panel-text"><span class="far fa-comment-dots"></span>メッセージ：<%= post.messages.count %>件</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="paginate">
    <%= paginate @posts %>
  </div>
</div>