<div class="posts-new-wrapper">
  <div class="container">
    <% if @post.errors.any? %>
      <div class="message">
        <p>未入力があります</p>
      </div>
    <% end %>
    
    <%#= form_for @post do |f| %>
    <%= form_with model: @post, local: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <table class="table">
        <tbody>
          <tr>
            <th>
              画像 ※
            </th>
            <td>
              <%= f.fields_for :images, @post.images.build do |i| %>
                <div class="form-group">
                  <%= i.file_field :post_image %>
                </div>
              <% end %>
              <% if @post.errors.include?(:images) %>
                <p style="color: red;">
                  <%= @post.errors.full_messages_for(:images).first %>
                </p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>
              投稿の種類 ※
            </th>
            <td>
              <div class="form-check form-check-inline">
                <%= f.collection_radio_buttons :purpose_id, @purposes, :id, :name, class: "form-check-input", checked: 1 %>
                <% if @post.errors.include?(:purpose_id) %>
                  <p style="color: red;">
                    <%= @post.errors.full_messages_for(:purpose_id).first %>
                  </p>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              日時 ※
            </th>
            <td>
              <div class="form-group">
                <%= f.datetime_field :happened_at, class: "form-control", value: Time.current.strftime("%Y-%m-%dT00:00:00") %>
                <% if @post.errors.include?(:happened_at) %>
                  <p style="color: red;">
                    <%= @post.errors.full_messages_for(:happened_at).first %>
                  </p>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              場所 ※
            </th>
            <td>
              <div class="form-group">
                <%= f.label :prefecture_id, "都道府県 ※" %>
                <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { prompt: "選択してください" }, { class: "form-control" } %>
                <% if @post.errors.include?(:prefecture_id) %>
                  <p style="color: red;">
                    <%= @post.errors.full_messages_for(:prefecture_id).first %>
                  </p>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label :city_id, "市区町村 ※" %>
                <%= f.select :city_id, options_for_select(@cities.map { |c|[c[:name], c[:id], { "data-id" => c[:prefecture_id] }] }), { prompt: "選択してください" }, { class: "form-control", id: :city_id } %>
                <% if @post.errors.include?(:city_id) %>
                  <p style="color: red;">
                    <%= @post.errors.full_messages_for(:city_id).first %>
                  </p>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label :address_line, "その他" %>
                <%= f.text_field :address_line, class:"form-control", value: "その他" %>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              ペットカテゴリー ※
            </th>
            <td>
              <div class="form-group">
                <%= f.collection_select :pet_category_id, @pet_categories, :id, :name, { prompt: "選択してください", selected: 1 }, { class: "form-control" } %>
                <% if @post.errors.include?(:pet_category_id) %>
                  <p style="color: red;">
                    <%= @post.errors.full_messages_for(:pet_category_id).first %>
                  </p>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              品種
            </th>
            <td>
              <div class="form-group">
                <%= f.text_field :pet_breed, class:"form-control", value: "柴犬" %>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              性別 ※
            </th>
            <td>
              <div class="form-check form-check-inline">
                <%= f.collection_radio_buttons :pet_sex_id, @pet_sexes, :id, :name, class: "form-check-input", checked: 1 %>
                <% if @post.errors.include?(:pet_sex_id) %>
                  <p style="color: red;">
                    <%= @post.errors.full_messages_for(:pet_sex_id).first %>
                  </p>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              コメント ※
            </th>
            <td>
              <div class="form-group">
                <%= f.text_area :content, class: "form-control", value: "迷子です" %>
                <% if @post.errors.include?(:content) %>
                  <p style="color: red;">
                    <%= @post.errors.full_messages_for(:content).first %>
                  </p>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "投稿" %>
    <% end %>
    
  </div>
</div>