<div class="posts-show-wrapper">
  <div class="post-detail row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title text-center"><%= @purpose.name %></h1>
        </div>
        <div class="panel-body table-responsive">
          <div>
            <%= link_to @post.image.post_image1.url, "data-lightbox": @post.image.post_image1 do %>
              <%= image_tag @post.image.post_image1.url(:thumb200) %>
            <% end %>
            <%= link_to @post.image.post_image2.url, "data-lightbox": @post.image.post_image2 do %>
              <%= image_tag @post.image.post_image2.url(:thumb200) unless @post.image.post_image2.blank? %>
            <% end %>
            <%= link_to @post.image.post_image3.url, "data-lightbox": @post.image.post_image3 do %>
              <%= image_tag @post.image.post_image3.url(:thumb200) unless @post.image.post_image3.blank? %>
            <% end %>
            <%= link_to @post.image.post_image4.url, "data-lightbox": @post.image.post_image4 do %>
              <%= image_tag @post.image.post_image4.url(:thumb200) unless @post.image.post_image4.blank? %>
            <% end %>
            <%= link_to @post.image.post_image5.url, "data-lightbox": @post.image.post_image5 do %>
              <%= image_tag @post.image.post_image5.url(:thumb200) unless @post.image.post_image5.blank? %>
            <% end %>
          </div>
          <div>
            <%= video_tag @post.video.url, playsinline: true, controls: true, muted: true unless @post.video.blank? %>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <th>日時</th>
                <td><%= @post.happened_at.strftime("%Y年%m月%d日 %H:%M") %></td>
              </tr>
              <tr>
                <th>場所</th>
                <td><%= @prefecture.name + @city.name %><%=@post.address_line unless @post.address_line.blank? %>
                  <iframe src="https://maps.google.co.jp/maps?output=embed&t=m&q=<%= @prefecture.name + @city.name + @post.address_line %>" frameborder="0"></iframe>
                </td>
              </tr>
              <tr>
                <th>名前</th>
                <td><%= @post.pet_name unless @post.pet_name.blank? %></td>
              </tr>
              <tr>
                <th>ペットの種類</th>
                <td><%= @pet_category.name %></td>
              </tr>
              <tr>
                <th>品種</th>
                <td><%= @post.pet_breed unless @post.pet_breed.blank? %></td>
              </tr>
              <tr>
                <th>性別</th>
                <td><%= @pet_sex.name %></td>
              </tr>
              <tr>
                <th>コメント</th>
                <td><%= @post.content %></td>
              </tr>
            </tbody>
          </table>
          <div class="post-info-links">
            <%= link_to edit_post_path(id: @post.id), class: "btn btn-default" do %>
              <div class="fas fa-edit">編集</div>
            <% end %>
            <%= link_to post_path(@post), method: :delete, class: "btn btn-default" do %>
              <div class="fas fa-trash-alt">削除</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message">
    <div class="page-header">
      <h2 class="text-center">メッセージ</h2>
    </div>
    <div class="message-create">
      <%= form_with model: @message, local: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", required: true %>
          <small class="form-text text-muted">1000文字以内</small>
          <% if @message.errors.include?(:content) %>
            <p class="error-message">
              ※<%= @message.errors.full_messages_for(:content).first %>
            </p>
          <% end %>
        </div>
        <%= f.submit "メッセージを投稿する", class: "btn btn-default" %>
      <% end %>
    </div>
    <div class="message-index">
      <% @post.messages.each do |message| %>
        <div class="message-show">
          <%= message.content %>
          <%= link_to message_path(@post), method: :delete, class: "btn btn-default" do %>
            <div class="fas fa-trash-alt">削除</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

    <div class="sns-icon">
      <a class="fab fa-line" href="https://line.me/R/msg/text/?#{request.url}"></a>
      <a class="fab fa-twitter-square" href="https://twitter.com/share?text=拡散お願い致します。&url=#{request.url}&hashtags=迷子"></a>
      <a class="fab fa-facebook-square" href="https://www.facebook.com/sharer.php?src=bm&u=#{request.url}"></a>
    </div>
    
    <div>
      <% if !@post.clip_users.include?(current_user) %>
        <%= link_to clips_path(post_id: @post.id), method: :post do %>
          <i class="fas fa-paperclip" style="color: gray;"></i>
        <% end %>
      <% else %>
        <%= link_to clip_path(post_id: @post.id), method: :delete do %>
          <i class="fas fa-paperclip" style="color: deepskyblue;"></i>
        <% end %>
      <% end %>
      <%= @post.clip_users.count %>
    </div>
    
    <div>
      <i class="far fa-comment-dots"></i>
      <%= @post.messages.count %>
    </div>