<div class="posts-show-wrapper">
  <%# 投稿詳細 %>
  <div class="post-detail row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="page-header">
        <h2 class="text-center">投稿詳細</h2>
      </div>
      <div class="panel panel-<%= @class %>">
        <div class="panel-heading">
          <h1 class="panel-title text-center"><%= @post.purpose.name %></h1>
        </div>
        <div class="panel-body">
          <div id="sampleCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner center-block" role="listbox">
              <div class="item active">
                <%= link_to @post.image.post_image1.url, "data-lightbox": "image-group" do %>
                  <%= image_tag @post.image.post_image1.url(:thumb200), class: "img-responsive" %>
                <% end %>
              </div>
              <% if @post.image.post_image2.present? %>
                <div class="item">
                  <%= link_to @post.image.post_image2.url, "data-lightbox": "image-group" do %>
                    <%= image_tag @post.image.post_image2.url(:thumb200), class: "img-responsive" %>
                  <% end %>
                </div>
              <% end %>
              <% if @post.image.post_image3.present? %>
                <div class="item">
                  <%= link_to @post.image.post_image3.url, "data-lightbox": "image-group" do %>
                    <%= image_tag @post.image.post_image3.url(:thumb200), class: "img-responsive" %>
                  <% end %>
                </div>
              <% end %>
              <% if @post.image.post_image4.present? %>
                <div class="item">
                  <%= link_to @post.image.post_image4.url, "data-lightbox": "image-group" do %>
                    <%= image_tag @post.image.post_image4.url(:thumb200), class: "img-responsive" %>
                  <% end %>
                </div>
              <% end %>
              <% if @post.image.post_image5.present? %>
                <div class="item">
                  <%= link_to @post.image.post_image5.url, "data-lightbox": "image-group"  do %>
                    <%= image_tag @post.image.post_image5.url(:thumb200), class: "img-responsive" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="indicators">
              <ol class="carousel-indicators center-block">
                <% if @post.image.post_image2.present? %>
                  <li data-target="#sampleCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#sampleCarousel" data-slide-to="1"></li>
                <% end %>
                <% if @post.image.post_image3.present? %>
                  <li data-target="#sampleCarousel" data-slide-to="2"></li>
                <% end %>
                <% if @post.image.post_image4.present? %>
                  <li data-target="#sampleCarousel" data-slide-to="3"></li>
                <% end %>
                <% if @post.image.post_image5.present? %>
                  <li data-target="#sampleCarousel" data-slide-to="4"></li>
                <% end %>
              </ol>
            </div>
            <div class="controls">
              <% if @post.image.post_image2.present? %>
                <a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">
              		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              		<span class="sr-only">前へ</span>
              	</a>
              	<a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">
              		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              		<span class="sr-only">次へ</span>
              	</a>
              <% end %>
            </div>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <th>動画</th>
                <td><%= video_tag @post.video.url, class: "video img-responsive", playsinline: true, controls: true, muted: true unless @post.video.blank? %></td>
              </tr>
              <tr>
                <th>日時</th>
                <td><%= @post.happened_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
              </tr>
              <tr>
                <th>場所</th>
                <td>
                  <div class="address"><%= @post.prefecture.name + @post.city.name %><%=@post.address_line unless @post.address_line.blank? %></div>
                  <iframe src="https://maps.google.co.jp/maps?output=embed&t=m&q=<%= @post.prefecture.name + @post.city.name + @post.address_line %>" frameborder="0" class="img-responsive"></iframe>
                </td>
              </tr>
              <tr>
                <th>名前</th>
                <td><%= @post.pet_name unless @post.pet_name.blank? %></td>
              </tr>
              <tr>
                <th>ペットの種類</th>
                <td><%= @post.pet_category.name %></td>
              </tr>
              <tr>
                <th>品種</th>
                <td><%= @post.pet_breed unless @post.pet_breed.blank? %></td>
              </tr>
              <tr>
                <th>性別</th>
                <td><%= @post.pet_sex.name %></td>
              </tr>
              <tr>
                <th>コメント</th>
                <td><%= @post.content %></td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <div class="clip-icon text-center">
              <% if !@post.clip_users.include?(current_user) %>
                <%= link_to clips_path(post_id: @post.id), method: :post do %>
                  <div class="fas fa-paperclip clip-lightgray" id="unclip"></div>
                <% end %>
              <% else %>
                <%= link_to clip_path(post_id: @post.id), method: :delete do %>
                  <div class="fas fa-paperclip clip-tan" id="clip"></div>
                <% end %>
              <% end %>
            </div>
            <p>投稿者：<%= @post.user_id %></p>
            <p>投稿日：<%= @post.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
            <div class="sns-icon">
              <a class="fab fa-twitter-square" href="https://twitter.com/share?text=拡散お願い致します。&url=<% @url %>&hashtags=迷子ペット" target="_brank"></a>
              <a class="fab fa-facebook-square" href="https://www.facebook.com/sharer.php?src=bm&u=<% @url %>" target="_brank"></a>
              <a class="fab fa-line" href="https://line.me/R/msg/text/?<% @url %>" target="_brank" data-delay="0"></a>
            </div>
          </div>
        </div>
      </div>
      <% if current_user.id == @post.user_id %>
        <div class="post-info-links">
          <%= link_to edit_post_path(@post), class: "btn col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-4" do %>
            <div class="fas fa-edit"> 編集</div>
          <% end %>
          <%= link_to post_path(@post), method: :delete, class: "btn col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4", data: { confirm: "この投稿を削除しますか？" } do %>
            <div class="fas fa-trash-alt"> 削除</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%# メッセージ %>
  <div class="message row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="page-header">
        <h2 class="text-center">メッセージ</h2>
      </div>
      <div class="message-create">
        <%= form_with model: @message, local: true do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <div class="form-group">
            <%= f.text_area :content, class: "form-control", rows: "5", required: true %>
            <small class="form-text text-muted">1000文字以内</small>
            <% if @message.errors.include?(:content) %>
              <p class="error-message">
                ※<%= @message.errors.full_messages_for(:content).first %>
              </p>
            <% end %>
          </div>
          <div class="form-group row">
            <%= f.submit "投稿", class: "btn btn-sm col-xs-offset-4 col-xs-4" %>
          </div>
        <% end %>
      </div>
      <%# メッセージ一覧 %>
      <div class="message-index">
        <% @post.messages.order(created_at: "desc").each do |message| %>
          <div class="message-show">
            <p class="message-poster">投稿者：<%= message.user.name %></p>
            <p>投稿日：<%= message.user.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
            <p><%= message.content %></p>
            <% if current_user.id == @post.user_id %>
              <div class="text-right">
                <%= link_to message_path(id: message.id), method: :delete, class: "btn btn-default btn-xs", data: { confirm: "このメッセージを削除しますか？" } do %>
                  <div class="fas fa-trash-alt">削除</div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>