<div class="posts-show-wrapper">
  <div class="container">
    <div class="sns-icon">
      <a class="fab fa-line" href="https://line.me/R/msg/text/?#{request.url}"></a>
      <a class="fab fa-twitter-square" href="https://twitter.com/share?text=迷子ペットの情報共有掲示板【lead-home】に投稿しました。拡散お願い致します。&url=#{request.url}&hashtags=迷子"></a>
      <a class="fab fa-facebook-square" href="https://www.facebook.com/sharer.php?src=bm&u=#{request.url}"></a>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th>
            投稿の種類
          </th>
          <td>
            <%= @purpose.name %>
          </td>
        </tr>
        <tr>
          <th>
            画像
          </th>
          <td>
            <div class="row">
              <div class="col-xl-12">
                <%= link_to @post.image.post_image1.url, "data-lightbox": @post.image.post_image1 do %>
                  <%= image_tag @post.image.post_image1.url(:thumb200) %>
                <% end %>
                <%= link_to @post.image.post_image2.url, "data-lightbox": @post.image.post_image2 do %>
                  <%= image_tag @post.image.post_image2.url(:thumb200) unless @post.image.post_image2.blank? %>
                <% end %>
                <%= link_to @post.image.post_image3.url, "data-lightbox": @post.image.post_image3 do %>
                  <%= image_tag @post.image.post_image3.url(:thumb200) unless @post.image.post_image3.blank? %>
                <% end %>
                <%= link_to @post.image.post_image4.url, "data-lightbox": @post.image.post_image4 do %>
                  <%= image_tag @post.image.post_image4.url(:thumb200) unless @post.image.post_image4.blank? %>
                <% end %>
                <%= link_to @post.image.post_image5.url, "data-lightbox": @post.image.post_image5 do %>
                  <%= image_tag @post.image.post_image5.url(:thumb200) unless @post.image.post_image5.blank? %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            動画
          </th>
          <td>
            <%= video_tag @post.video.url, playsinline: true, controls: true, muted: true unless @post.video.blank? %>
          </td>
        </tr>
        <tr>
          <th>
            日時
          </th>
          <td>
            <%= @post.happened_at.strftime("%Y年%m月%d日 %H:%M") %>
          </td>
        </tr>
        <tr>
          <th>
            場所
          </th>
          <td>
            <%= @prefecture.name + @city.name %><%=@post.address_line unless @post.address_line.blank? %>
            <iframe src="https://maps.google.co.jp/maps?output=embed&t=m&q=<%= @prefecture.name + @city.name + @post.address_line %>" frameborder="0"></iframe>
          </td>
        </tr>
        <tr>
          <th>
            名前
          </th>
          <td>
            <%= @post.pet_name unless @post.pet_name.blank? %>
          </td>
        </tr>
        <tr>
          <th>
            ペットカテゴリー
          </th>
          <td>
            <%= @pet_category.name %>
          </td>
        </tr>
        <tr>
          <th>
            品種
          </th>
          <td>
            <%= @post.pet_breed unless @post.pet_breed.blank? %>
          </td>
        </tr>
        <tr>
          <th>
            性別
          </th>
          <td>
            <%= @pet_sex.name %>
          </td>
        </tr>
        <tr>
          <th>
            コメント
          </th>
          <td>
            <%= @post.content %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= link_to "編集", edit_post_path(id: @post.id), class: "fas fa-edit" %>
    <%= link_to "削除", post_path, method: :delete, class: "fas fa-trash-alt" %>
    
    <div>
      <% if !@post.clip_users.include?(current_user) %>
        <%= link_to clips_path(post_id: @post.id), method: :post do %>
          <i class="fas fa-paperclip" style="color: gray;"></i>
        <% end %>
      <% else %>
        <%= link_to clip_path(post_id: @post.id), method: :delete do %>
          <i class="fas fa-paperclip" style="color: deepskyblue;"></i>
        <% end %>
      <% end %>
      <%= @post.clip_users.count %>
    </div>
    
    <div>
      <i class="far fa-comment-dots"></i>
      <%= @post.messages.count %>
    </div>
    
    <div class="message-create">
      <%= form_with model: @message, local: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", required: true %>
          <% if @message.errors.include?(:content) %>
            <p style="color: red;">
              <%= @message.errors.full_messages_for(:content).first %>
            </p>
          <% end %>
        </div>
        <%= f.submit "メッセージする" %>
      <% end %>
    </div>
    
    <div class="message-index">
      <% @post.messages.each do |message| %>
        <%= message.content %>
        <%= link_to "削除", message_path(post_id: @post.id), method: :delete, class: "fas fa-trash-alt" %>
      <% end %>
    </div>
    
  </div>
</div>