<div class="posts-show-wrapper">
  <div class="container">
    <table class="table">
      <tbody>
        <tr>
          <th>
            画像
          </th>
          <td>
            <% @post.images.each do |image| %>
              <%= image_tag image.post_image1.url(:thumb150) %>
              <%#= image_tag image.post_image2.url(:thumb150) %>
              <%#= image_tag image.post_image3.url(:thumb150) %>
              <%#= image_tag image.post_image4.url(:thumb150) %>
              <%#= image_tag image.post_image5.url(:thumb150) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>
            動画
          </th>
          <td>
            <%= video_tag @post.video.url, muted: true, ontrols: true, controls: true, muted: true %>
          </td>
        </tr>
        <tr>
          <th>
            投稿の種類
          </th>
          <td>
            <%= @post.purpose_id %>
          </td>
        </tr>
        <tr>
          <th>
            日時
          </th>
          <td>
            <%= @post.happened_at %>
          </td>
        </tr>
        <tr>
          <th>
            場所
          </th>
          <td>
            <%#= @post.prefecture_id + @post.city_id + @post.address_line %>
          </td>
        </tr>
        <tr>
          <th>
            ペットカテゴリー
          </th>
          <td>
            <%= @post.pet_category_id %>
          </td>
        </tr>
        <tr>
          <th>
            品種
          </th>
          <td>
            <%= @post.pet_breed %>
          </td>
        </tr>
        <tr>
          <th>
            性別
          </th>
          <td>
            <%= @post.pet_sex_id %>
          </td>
        </tr>
        <tr>
          <th>
            コメント
          </th>
          <td>
            <%= @post.content %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= link_to "編集", edit_post_path(id: @post.id), class: "fas fa-edit" %>
    <%= link_to "削除", post_path, method: :delete, class: "fas fa-trash-alt" %>
    
    <div>
      <% if !@post.clip_users.include?(current_user) %>
        <%= link_to clips_path(post_id: @post.id), method: :post do %>
          <i class="fas fa-paperclip" style="color: gray;"></i>
        <% end %>
      <% else %>
        <%= link_to clip_path(post_id: @post.id), method: :delete do %>
          <i class="fas fa-paperclip" style="color: deepskyblue;"></i>
        <% end %>
      <% end %>
      <%= @post.clip_users.count %>
    </div>
    
    <div>
      <i class="far fa-comment-dots"></i>
      <%= @post.messages.count %>
    </div>
    
    <div class="message-create">
      <%= form_with model: @message, local: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", required: true %>
          <% if @message.errors.include?(:content) %>
            <p style="color: red;">
              <%= @message.errors.full_messages_for(:content).first %>
            </p>
          <% end %>
        </div>
        <%= f.submit "メッセージする" %>
      <% end %>
    </div>
    
    <div class="message-index">
      <% @post.messages.each do |message| %>
        <%= message.content %>
        <%= link_to "削除", message_path(post_id: @post.id), method: :delete, class: "fas fa-trash-alt" %>
      <% end %>
    </div>
    
  </div>
</div>